[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Group=prometheus
ExecStart=/opt/prometheus-2.48.0.linux-amd64/prometheus \
  --config.file=/opt/prometheus-2.48.0.linux-amd64/prometheus.yml \
  --storage.tsdb.path=/var/prometheus/data \
  --storage.tsdb.retention.time=30d

[Install]
WantedBy=multi-user.target
