[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=prometheus
Group=prometheus
ExecStart=/opt/{{ node-exporter_install }}/node_exporter

[Install]
WantedBy=multi-user.target